body {
    height: 250px;
    width: 500px;
    background-image: url('./images/moon-background.svg');
    background-size: cover;
    background-position-x: center;
}

h3, label, p {
    font-size: 20px;
}

label {
    margin-top: 10px;
}

select {
    height: 22px;
    width: 90px;
    font-size: 15px;
}

button {
    height: 28px;
    width: 160px;
    border-radius: 15px;
    margin-top: 25px;
    border: none;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 20px;
}

button:hover {
    background-color: white;
    color: black;
}

#information-container {
    height: 180px;
    width: 200px;
    background-color: transparent;
    color: white;
    text-align: center;
    position: fixed;
    top: 40px;
    right: 40px;
}

#information-modal-button {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid white;
}

#information-modal-button:hover {
    background-color: white;
    color: black;
}

#information-modal {
    display: none;
}

#counter-container {
    display: none;
}

#instruction {
    font-size: 20px;
}

#breathe-counter {
    font-size: 25px;
}