body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

label, p {
    font-size: 20px;
}

input{
    height: 25px;
    width: 180px;
    box-sizing: border-box;
    padding-left: 5px;
    border-radius: 5px;
    font-size: 18px;
}

button {
    height: 25px;
    width: 180px;
    border-radius: 5px;
    border: none;
    background-color: #0079FF;
    color: white;
}

#information-container {
    height: 200px;
    width: 200px;
    background-color: #949DA7;
    border-radius: 5px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#counter-container {
    display: none;
}